<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-02-26T04:46:10Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hanhyeonmin/Desktop/CORD[]/자료구조/열혈/열혈 4-1/열혈 4-1.xcodeproj</string>
</dict>
</plist>
