<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-02-11T07:52:05Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hanhyeonmin/Desktop/CORD[]/최단 경로/최단경로2/길찾기.xcodeproj</string>
</dict>
</plist>
