<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-11-26T04:19:47Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hanhyeonmin/Desktop/CORD[]/기프/수업내용/파일 입출력 공부/test4/test4.xcodeproj</string>
</dict>
</plist>
