<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-11-27T08:13:47Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hanhyeonmin/Desktop/CORD[]/c언어/기프/박영철 교수님/박영철 교수님 파일 입출력 문제/박영철 교수님 파일 입출력 문제.xcodeproj</string>
</dict>
</plist>
