<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-03-03T13:28:39Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hanhyeonmin/Desktop/CORD[]/기프/수업내용/실습/기프 문자열2번실습/기프 문자열2번실습.xcodeproj</string>
</dict>
</plist>
